@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --orange: #fc8019;
  --grey1: #3d4152;
  --white: rgba(255, 255, 255, 0.6);
  --bg1: rgb(255, 255, 255);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.App {
  background-color: var(--white);

  padding: 0;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 767px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}
