.group {
  display: flex;
  flex-direction: column;
  position: relative;
  .form-input {
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    border: 1px solid var(--orange);
  }
  .input-label {
    font-size: 16px;
    position: absolute;
    bottom: -24px;
    left: 0px;
    transition: 100ms ease-in-out;
  }
  .form-input:focus {
    outline: none;
  }

  .form-input:focus ~ .input-label {
    top: -16px;
    font-size: 12px;
  }
}
